# binaries in root only
/terraformlib
*.old

# compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary, built with `go test -c`
*.test

# output of the go coverage tool
*.out

# go workspace file
go.workvendor/
